@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Brandon-Grotesque';
    font-weight: 400;
    src: url('/fonts/brandon-grotesque-thin.ttf');

}
@font-face {
    font-family: 'Brandon-Grotesque';
    font-weight: 500;
    src: url('/fonts/brandon-grotesque-light.ttf');

}
@font-face {
    font-family: 'lulo-clean';
    src: url('/fonts/lulo-clean.ttf');
}


.custom-screen {
    @apply max-w-screen-xl mx-auto px-4 md:px-8;
}

.gradient-border {
    border: 1px solid transparent;
    background: linear-gradient(rgb(149, 0, 255), rgb(149, 0, 255)), linear-gradient(25deg, rgba(149, 0, 255, 1), rgba(149, 0, 255, 1), rgba(0, 0, 0, 0.63), rgba(149, 0, 255, 1), rgba(209, 213, 219, 1));
    background-clip: padding-box, border-box;
    background-origin: padding-box, border-box;
}